*{
  padding: 0;margin: 0;
}
.nav{
  display: flex;
  align-items: center
  ;justify-content: space-between;
  height: 75px;
  width: 100%;
  background:linear-gradient(to right, rgb(5, 153, 5), rgb(138, 245, 138));
  margin-bottom: 30px;
}
.right{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 30%;
}

.ad{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.ad img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 1px solid rgb(96, 232, 96);
  box-shadow: 0 0px 15px  green;
  padding: 5px;
  margin-bottom: 20px;
}

.hero-section{
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
   background:linear-gradient(to right, rgb(5, 153, 5), rgb(138, 245, 138));
   margin-bottom: 20px;
}
.hero-section button{
  background-color: green;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  padding: 10px;
  border: none;

}
.products{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
   margin-bottom: 20px;
    margin-top: 30px;
}
.products img{
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: 0 0 20px green;
  height: 200px;
  width: 250px;
}